doctype html  
html 
body 
    a(href='/wishlist')
        button(type="button") Go To Wishlist
    img(src=path alt="camera" style='width:100px;height:100px;')
    div Product Name:   #{name} 
    div Product Description:   #{product_description}
    div Seller:   #{sold_by}
    div Price:   #{price}
    div Warranty Details:   #{warranty_details}
    button() ADD TO WISHLIST

