doctype html  
html 
body 
    a(href='/')
        h1 GO TO HOMEPAGE 
    img(src=path alt="camera" style='width:100px;height:100px;')
    div Product Name:   #{name} 
    div Product Description:   #{product_description}
    div Seller:   #{sold_by}
    div Price:   #{price}
    div Warranty Details:   #{warranty_details}
    a(href='/wishlist/'+ id)
        button(type="button") ADD TO WISHLIST

