doctype html  
html 
head
    title=id
    script(type='text/javascript' src="http://code.jquery.com/jquery-3.3.1.min.js")
    script(src='ajax.js')
body 
    //nested pug
    include ./header.pug
    .container
        .row
            .col-4
                .container
                    .row
                        .col-9
                            #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel' data-intervel="1000")
                                .carousel-inner(data-intervel="1000")
                                    .carousel-item.active
                                        img(src=path alt="camera" style='width:200px;height:200px;')
                                    .carousel-item
                                        img(src=path1 alt="camera" style='width:200px;height:200px;')
                                    .carousel-item
                                        img(src=path2 alt="camera" style='width:200px;height:200px;')
                        .col-1

                            img(class=id src='/wishlist.png' alt='...' style='width:25px;height:25px;')
            .col-6
                ul
                    .row
                        li Product Name:   #{name}
                    .row 
                        li Product Description:   #{product_description}
                    .row
                        li Seller:   #{sold_by}
                    .row
                        li Price:   #{price}
                    .row
                        li Warranty Details:   #{warranty_details}
        .row
            .col-4
            .col-6
                .row
                    .col-5
                        a.btn.btn-primary.bg-dark.text-white.border-dark(id=id value=id) ADD TO CART
                    .col-5
                        a.btn.btn-primary.bg-dark.text-white.border-dark(href='/buy_now') BUY NOW 


